* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.logo-name {
    line-height: 50px;
    margin-left: 10px;
}
.copyright-text{
    align-self: center;
    justify-self: center;
}
html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
}

.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-row-gap: 1em;
}

.r1,
.r2,
.r3 {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-column-gap: 1em;
}

.r1 {
    background-color: #ccc;
}

.r2 {
    background-color: #f1f1f1;
}

.r3 {
    background-color: #ccc;
}

.r2c1,
.r2c3 {
    background-color: #ccc;
}

.left-nav>li>a {
    display: block;
    padding: 15px;
}

.left-nav>li {
    border: 1px solid #f1f1f1
}

.course-table {
    table-layout: fixed;
    width: 100%;
}

.course-table>thead>tr>td {
    border: 2px solid rgb(5, 2, 2);
    font-weight: bold;
    font-size: 20px;
    background-color: #4ce84c;
}
.course-table >thead>tr{
    height: 50px;
    text-align: center;
}
.course-table >tbody >tr{
    height:28px;
}
.course-table >tbody >tr>td{
    border: 1px solid #ff1b1b;
}